div#delete-post
  table
    tr
      th#delete-post-username Username
      th#delete-post-time Last Submit Time
        img.static-icons(src="/image/static-icons/time.png")
    tr
      td {{post.username}}
      td {{post.time}}

  h2#delete-post-title {{post.title}}
  div#delete-post-text {{post.text}}

  div#delete-post-control
    p
      span#delete-post-control-message Are you sure you want to delete this post? - 
      a#delete-post-ok(href="javascript:;", ng-click='deletePost()') Delete
      |  -  
      a#delete-post-cancel(href="javascript:;", ng-click='home()') Cancel

    p#delete-post-result {{ deleteResult }}