div#edit-comment
  h3#edit-comment-title Edit Comment
  table#edit-comment-table
    tr
      th#edit-comment-username Username
      th#edit-comment-time First Submit Time
        img.static-icons(src="/image/static-icons/time.png")
      th#edit-comment-status Status
    tr
      td
        img.static-icons(src='/image/static-icons/user.png')
        | {{ Username }}
      td {{ Time }}
      td 
        span(ng-show="IsHidden") Hide
        span(ng-show="!IsHidden") Show
  div#last-comment
    h4#last-comment-title Last Comment
      p#last-comment-text {{ Comment }}
  div#new-comment
    h4#new-comment-title New Comment
    textarea(ng-model="newComment")
    a#new-comment-submit(href="javascript:;", ng-click="SubmitComment()") Submit