div
  div(ng-show="form.username")
    ul
      li Welcome! {{ form.username }}
      li
        a(href='/addPost') Add a new post
      li
        a(href="", ng-click="userLogout()") Logout
  div(ng-show="!form.username")
    ul
      li
        a(href="/login") Sign In
      li
        a(href="/register") Sign Up

p There are {{ count }} posts totally
div(ng-repeat='post in posts')
  h3 {{post.BlogId}} {{post.Title}}
    span(ng-show="post.IsHidden") (Hidden...)
  h4 by {{post.Username}}
  a(href='/readPost/{{post.BlogId}}') More
  |  - 
  a(href='/editPost/{{post.BlogId}}') Edit
  |  - 
  a(href='/deletePost/{{post.BlogId}}') Delete
  |  -
  a(href='javascript:;', ng-click="changeHidePost(post.BlogId)")
    span(ng-show="post.IsHidden") UnHide
    span(ng-show="!post.IsHidden") Hide

p
  button(ng-click="getPosts(offset+1)") next
p
  button(ng-click="getPosts(offset-1)") previous