div#read-post
  table
    tr
      th#read-post-username Username
      th#read-post-time Last Submit Time
        img.static-icons(src="/image/static-icons/time.png")
    tr
      td 
        img.static-icons(src='/image/static-icons/user.png')
        | {{post.username}}
      td {{post.time}}

  h2#read-post-title
  div#read-post-text

div#read-post-comment-area(ng-show="commentsCount > 0")
  h3#read-post-comment-area-title Comments
  div.read-post-comment-box(ng-repeat='comment in comments')
    div.read-post-comment-box-user-info
      span.read-post-comment-box-user-icon
        img(src='/image/static-icons/user.png')
      span.read-post-comment-box-user-name
        | {{ comment.Username }}
      span.read-post-comment-box-user-time
        | {{ comment.Time }}
        img.static-icons(src="/image/static-icons/time_green.png")
    div.read-post-comment-box-hidden(ng-show="comment.IsHidden")
      | Hidden By Admin
    div.read-post-comment-box-unhide(ng-show="!comment.IsHidden")
      | {{ comment.Content }}
    div.read-post-comment-box-control
      a.read-post-comment-box-control-edit(href="/comment/edit/{{post.BlogId}}/{{comment.CommentId}}") Edit
      a.read-post-comment-box-control-delete(href="javascript:;", ng-click="deleteComment(comment.CommentId)") Delete
      a.read-post-comment-box-control-hide(href="javascript:;", ng-click="changeHideStatus(comment.CommentId)", ng-show="comment.IsHidden") UnHide
      a.read-post-comment-box-control-hide(href="javascript:;", ng-click="changeHideStatus(comment.CommentId)", ng-show="!comment.IsHidden") Hide
  div#read-post-comment-pagination
    a#read-post-comment-pagination-pre(href="javascript:;", ng-click="preComment()") Previous
    a#read-post-comment-pagination-next(href="javascript:;", ng-click="nextComment()") Next
  
div#read-post-new-comment
  h4 Add New Comment
  div#read-post-add-comment-user-info
    span#read-post-add-comment-user-icon
      img(src="/image/static-icons/user.png")
    span#read-post-add-comment-user-name
      | {{ username }}
    span#read-post-add-comment-user-time
      | {{ time }}
      img.static-icons(src="/image/static-icons/time_red.png")
  textarea(ng-model="newComment")
  div#read-post-submit-comment-control
    a#read-post-submit-comment(href="javascript:;", ng-click="submitComment()") Submit
    p#read-post-submit-comment-result {{ addCommentResult }}
