div#register
  h3 Sign UP
  table#register-table
    tr
      td
        label(for="username") Username:
      td
        input(type="text", name="username", ng-model='form.username', autocomplete='off')
    tr
      td
      td.register-error-style {{message.username}}
    tr
      td
        label(for="password") Password:
      td
        input(type='password', name="password", ng-model="form.password")
    tr
      td
      td.register-error-style {{message.password}}
    tr
      td
        label(for="confirm") Confirm:
      td
        input(type="password", name="confirm", ng-model='form.confirm')
    tr
      td
      td.register-error-style {{message.confirm}}
    tr
      td
      td
        div#a-operation
          a#a-back(href="/") Back
          a#a-login(href="/login") Login
          a#a-register(href="javascript:;", ng-click="submitRegister()", title="After Register, You Need to Login First!") Register